# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# testing assets
coveragereport/
corevage.xml
TestResults/

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# StyleCop
StyleCopReport.xml

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets
